################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/BlazorCRUD
/bin/Debug/net8.0
/obj
/logs
/.vs/ProjectEvaluation
