@page "/Error"
@using System.Diagnostics
@inject IHttpContextAccessor HttpContextAccessor
@inject ILogger<Error> Logger

<h1 class="text-danger">Error</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

@if (ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@RequestId</code>
    </p>
}

@code {
    private string? RequestId { get; set; }
    private bool ShowRequestId => !string.IsNullOrEmpty(RequestId);

    protected override void OnInitialized()
    {
        RequestId = Activity.Current?.Id ?? HttpContextAccessor.HttpContext?.TraceIdentifier;
        Logger.LogError("An unhandled exception occurred with Request ID: {RequestId}.", RequestId);
    }
}
